<div class="page-header">
  <h1>Card #<%= @card.id %></h1>
</div>

<div class="jumbotron">
  <h1><%= @card.word.titleize %></h1>
  <p id="word_definition"><%= @card.definition %></p>
  <p><a href="/cards/<%= @card.id %>" class="btn btn-primary">Hide Definition</a></p>
  <p>
    <% if @card.learned == true %>
      <a href="/cards/<%= @card.id %>/unlearn" class="btn btn-default">Unlearn</a>
    <% else %>
      <a href="/cards/<%= @card.id %>/learned" class="btn btn-success">Learned</a>
    <% end %>
    <a href="/delete_card/<%= @card.id %>" class="btn btn-danger">Delete</a>
    <a href="/random_card" class="btn btn-default">Next<small> (random)</small> &gt;&gt;</a>
  </p>
</div>
