<div class="page-header">
  <h1>Card #<%= @card.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Word</dt>
  <dd><%= @card.word %></dd>

  <dt>Definition</dt>
  <dd><%= @card.definition %></dd>

  <dt>Learned</dt>
  <dd><%= @card.learned %></dd>

  <dt>User</dt>
  <dd><%= @card.user_id %></dd>

</dl>
